.homePage
  display: flex
  justify-content: space-between

  .info
    display: flex
    flex-direction: column
    margin-top: 150px
    margin-bottom: 30px

    .hi
      font-size: 2em
      line-height: 1

    .name
      font-size: 7em
      font-weight: 700
      line-height: 1
      margin-left: -0.05em

    .jobTitle
      color: var(--gray6)
      text-transform uppercase
      font-size: 1.25em
      letter-spacing 1.05em
      margin-left: 0.15em
